.box-login {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border: 2px black solid;
    color: #fff;
}

.img-index-fundo {
    background-image: url(../source/image/objetos3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-login {
    width: 100px;
    height: 25px;
    background-color: bisque;
    border: 1px solid black;
    cursor: pointer;
    margin: 15px;
    font-weight: 700;
    border-radius: 20px;
}

.btn-facebook{
    width: 200px;
    height: 30px;
    background-color: #3b5998;
    color: #fff;
    border: 1px solid black;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.btn-google{
    color: #fff;
    height: 30px;
    width: 200px;
    background-color: #db4a39 ;
    border: 1px solid black;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
}

/*Resposividade*/
@media(max-width: 450px){
    .box-login {
        width: 350px;
        height: 500px;
        border-radius: 20px;
        border: 2px black solid;
        color: #fff;
    }
}